@model BlogProject.Models.Teacher
@{
    ViewBag.Title = "Update";
}
<button class="backbtn"><a href="/Teacher/Show/@Model.TeacherId">Back</a></button>
<h2>Update Teacher</h2>
<form method="POST" action="/Teacher/Update/@Model.TeacherId" name="ixdForm">
    <div>
        <label for="TeacherFname">First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname"  value="@Model.TeacherFname"/>
    </div>
    <div>
        <label for="TeacherLname">Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.TeacherLname"/>
    </div>
    <div>
        <label for="EmployeeNumber">Employee Number:</label>
        <input type="text" id="EmployeeNumber" name="EmployeeNumber" value="@Model.EmployeeNumber"/>
    </div>
    <div>
        <label for="HireDate">Hire Date:</label>
        <input type="text" id="HireDate" name="HireDate" value="@Model.HireDate"/>
    </div>
    <div>
        <label for="Salary">Salary:</label>
        <input type="text" id="Salary" name="Salary" value="@Model.Salary"/>
    </div>
    <div>
        <input type="submit" value="Update Teacher" />
    </div>
</form>